.NavigationItem {
  margin-right: 3rem;
  position: relative;
}

.NavLink {
  font-size: 2.5rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Bebas Neue;
}

.NavLink:hover,
.active {
  color: #ec4029;
}

@media (max-width: 499px) {
  .NavigationItem {
    margin-right: 0;
    margin-top: 1rem;
  }
  .NavLink {
    font-size: 1.8rem;
    font-weight: 700;
  }
}